*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-style: arial;
	scroll-behavior: smooth;
}

body{
	background: rgb(238,174,202,);
	background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(180,222,187,1) 50%, rgba(148,187,233,1) 100%);
}




									/* German Tour: Navication Bar */



.nav{
	display: flex;
	align-items: center;
	width: 100%;
	background:/* Created with https://www.css-gradient.com */
	background: rgba(183, 195, 181, 1.0);
	background: -webkit-linear-gradient(top left, rgba(183, 195, 181, 1.0), rgba(148, 190, 187, 1.0));
	background: -moz-linear-gradient(top left, rgba(183, 195, 181, 1.0), rgba(148, 190, 187, 1.0));
	background: linear-gradient(to bottom right, rgba(183, 195, 181, 1.0), rgba(148, 190, 187, 1.0));
}

.logo{
	flex: 1;
	margin-left: 20px;
}

nav{
	flex: 3;
}

.cart{
	flex: 1;
}

.cart img{
	float: right;
	margin-right: 50px;
}

.logo img{
	border: 1px solid #D4B08B;
	border-radius: 8px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #B5C3FA;
}

nav ul li {

  float:left;
}

nav ul li a {

  display: block;
  color: white;
  font-size: 23px;
  text-align: center;
  padding: 16px 35px;
  text-decoration: none;
}

.active{
	color: darkred;
	background: #D6E9FD;
	border-radius: 5px;
}

li a:hover:not(.active){
	color: darkred;
	transition: 0.5s;
}

@media screen and (max-width: 1200px)
{
	.nav{flex-direction: column;}
	.logo{margin-bottom: 20px;}
	nav{margin-bottom: 20px;}
	.cart{margin-bottom: 20px;}.cart img{margin-right: unset;}
}
@media screen and (max-width: 600px)
{
	.nav{flex-direction: column;}

	nav{width: 100%;}

	.cart img{margin-right: unset;}

	nav ul li {	float: none;}

	.logo{margin-bottom: 20px;}

	nav{margin-bottom: 20px;}

	.cart{margin-bottom: 20px;}
}






								/* German Tour: HomePage */




#one{
	background-size: cover;
	background-image: url(image/R.jpg);
}

#one h1{
	position: relative;
	top: 12%;
	text-align: center;
	font-size: 60px;
	animation: welcome 1.5s linear  alternate forwards running;
	font-family: 'Edu VIC WA NT Beginner', cursive;
	font-family: 'Source Code Pro', monospace;
	font-family: 'Square Peg', cursive;
}

@keyframes welcome{
	0%{ transform: scale(0.1);
		color: #B2B5FC;
		}

	25%{ transform: scale(0.3);
		color: #94B5FC; 
		}
	
	50%{
		
		transform: scale(0.5);
		color:#94AACB ; 
		
		text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.1);
	}

	75%{
		transform: scale(0.8);
		color: #71AEE0; 
	
		text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
	}
	
	100%{
		transform: scale(1.0);
		color:#7EA3D6; 
		top: 12%;
		font-weight: bolder;
		text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
	}
}


@media screen and (max-width: 600px)
{
	#one{
		background-image: none;
	}
}


#two{
	background: #CDB4DB;
}

.head1{
	text-align: center;
	padding-top: 20px;
	font-size: 50px;
	text-shadow:2px 2px 3px rgba(0, 0, 0, 0.1);
	font-family: 'Edu VIC WA NT Beginner', cursive;
	font-family: 'Source Code Pro', monospace;
	font-family: 'Square Peg', cursive;
}

.all_content{

	margin-top: 30px;
	display: grid;
	grid-template-columns:repeat(auto-fit, 1fr);
	grid-auto-rows: 250px 250px;
	grid-template-areas: 
	"magic magic street winter"
	"autumn view street summer";
	grid-gap: 15px;
	transform: scale(1.0);
}


.img{
	width: 100%;
	height: 100%;
	border: 1px solid white;
	border-radius: 10px;
}

.img:hover{
	transition: 1s ;
	transform: scale(1.2);
}

span{	
	position: relative;
	bottom: 40px;
	border: 1px solid white;
	padding: 15px;
	background:ghostwhite;
}

span a{
	text-decoration: none;
	color: black;
}

span:hover a{
	
	text-decoration: underline;
	padding: 20px;
	transition: 0.5s;
}

.Inspiring1,.Inspiring2,.Inspiring3,
.Inspiring4,.Inspiring5,.Inspiring6{
	overflow: hidden;
	border-radius: 10px;
}

.Inspiring1{
	grid-area: magic;	
}

.Inspiring2{
	grid-area: winter;
}

.Inspiring3{
	grid-area: autumn;
}

.Inspiring4{
	grid-area: street;
}

.Inspiring5{
	grid-area: view;
}

.Inspiring6{
	grid-area: summer;
}

@media screen and (max-width: 1200px)
{
	.all_content{
		grid-gap: 25px;
		margin-left: 20px;
		display: grid;
		grid-template-columns:400px 400px;
		grid-auto-rows: 300px 300px 300px ;
		grid-template-areas:
		"magic winter"
		"autumn street"
		"view summer";
	}
}
@media screen and (max-width: 600px)
{
	.all_content{
		margin-left: 20px;
		display: grid;
		grid-template-columns:500px;
		grid-auto-rows: 300px 300px 300px 300px 300px 300px;
		grid-template-areas:
		"magic"
		"winter"
		"autumn"
		"street"
		"view"
		"summer";
	}
}




#three{
	background: #A2D2FF;
}

.all_contentA{
	margin-top: 20px;
	justify-content: center;
	display: grid;
	grid-template-columns:300px 300px 300px;
	grid-auto-rows: 250px 250px;
	grid-template-areas: 
	"berlin berlin museum"
	"jewish acient acient";
	grid-gap: 25px;
	transform: scale(1.0);
}

.Curture1,.Curture2,.Curture3,.Curture4{
	overflow: hidden;
	border-radius: 10px;
}

.Curture1{
	grid-area: berlin;
}

.Curture2{
	grid-area:museum;
}

.Curture3{
	grid-area:jewish;
}

.Curture4{
	grid-area: acient;
}

@media screen and (max-width: 1200px)
{
	.all_contentA{
		margin-left: 20px;
		display: grid;
		grid-template-columns:400px 400px;
		grid-auto-rows: 300px 300px ;
		grid-template-areas:
		"berlin museum"
		"jewish acient"
	}
}

@media screen and (max-width: 600px)
{
	.all_contentA{
		margin-left: 20px;
		display: grid;
		grid-template-columns:500px;
		grid-auto-rows: 300px 300px 300px 300px ;
		grid-template-areas:
		"berlin"
		"museum"
		"jewish"
		"acient";
	}
}




#four{
	background:#BDE0FE;
}


.all_contentB{
	margin-top: 20px;
	justify-content: center;
	display: grid;
	grid-template-columns:400px 300px 300px;
	grid-auto-rows: 250px 250px;
	grid-template-areas: 
	"palace regen sleep"
	"palace hausen hausen";
	grid-gap: 25px;
	transform: scale(1.0);
}

.Palace1,.Palace2,.Palace3,.Palace4{
	overflow: hidden;
	border-radius: 10px;
}


.Palace1{
	grid-area: palace;
}

.Palace2{
	grid-area:hausen;
}

.Palace3{
	grid-area:regen;
}

.Palace4{
	grid-area: sleep;
}

@media screen and (max-width: 1200px)
{
	.all_contentB{
		margin-left: 20px;
		display: grid;
		grid-template-columns:400px 400px;
		grid-auto-rows: 300px 300px ;
		grid-template-areas:
		"palace hausen"
		"regen sleep"
	}
}

@media screen and (max-width: 600px)
{
	.all_contentB{
		margin-left: 20px;
		display: grid;
		grid-template-columns:500px;
		grid-auto-rows: 300px 300px 300px 300px ;
		grid-template-areas:
		"palace"
		"hausen"
		"regen"
		"sleep";
	}
}







								/*German Tour: Footer*/



.five{
	background:white;
	height: 500px;
}

.summary{
	display:flex;
	align-items: center;
	justify-content: space-evenly;
	margin-top: 30px;
	margin-bottom: 50px;
	background: white;
}

.summary h3{
	margin-top: 15px;
	color: gray;
	text-shadow:2px 2px 3px rgba(0, 0, 0, 0.1);
	font-style: oblique;
}

.list li a{
	text-decoration: none;
	line-height: 25px;
	color: gray;
}

.list li a:hover{
	text-decoration: underline darkred;
	transition: 0.5s ease-in-out;
}

.line{
	width: 80%;
	margin: auto;
	height: 2px;
	background:lightgray;
}

.foot .fa-brands{
	position: relative;
	top: 15px;
	left: 45%;
	padding: 20px;
}

footer{
	font-style: oblique;
	text-align: center;
	margin-top: 100px;
}

.arrow{
	position: fixed;
	bottom: 40px;
	right: 50px;
	width: 55px;
	height: 55px;
	background: darkred;
	text-decoration: none;
	text-align: center;
	line-height: 55px;
	color: white;
	font-size: 25px;
}

@media screen and (max-width: 600px)
{
	.summary{	flex-direction: column;}

	.foot .fa-brands{left: 35%;}

}




								/* German Tour: Packages */




.line_in_package{
	width: 80%;
	margin: auto;
	height: 2px;
	margin-top: 70px;
	background:black;
	margin-bottom: 50px;
	box-shadow:2px 3px 4px rgba(0, 0, 0, 0.5) ;
}

.all{
	width: 250px;
	height: 270px;
	margin-left: 25%;
}

.flip_card{
	position: relative;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	transition: 1s ease-in-out;
	border: 1px solid gray;
	border-radius: 8px;
	box-shadow:2px 3px 4px rgba(0, 0, 0, 0.5) ;
}

.flip_card .front ,
.flip_card .back{
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
} 

.front{
	backface-visibility: hidden;
	background: rgba(238,174,202,0.4);
	background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(180,182,222,1) 50%, rgba(148,187,233,1) 100%);
	border-radius: 8px;
	opacity: 0.9;
}

.back{
	transform: rotateY(180deg);
	background-image: url(image/schweincastle.jpg);
	background-size: cover;
	border-radius: 8px;
}

.all:hover .flip_card{
	transform: rotateY(180deg);
	box-shadow:2px 3px 4px rgba(0, 0, 0, 0.5) ;
}
.front .discount{
	font-size: 60px;
	text-align: center;
	padding: 25px;
	text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.5);
}

.front small{
	font-size: 25px;
}

.front .line_in_front{
	width: 230px;
	margin: auto;
	height: 2px;
	background:black;
	box-shadow:2px 3px 4px rgba(0, 0, 0, 0.5) ;
	margin-bottom: 20px;
	margin-top: 10px;
}

.front h1{
	text-align: center;
	font-style: oblique;
	margin-bottom: 20px;
}

.front input{
	justify-items: center;
	padding: 5px 13px 5px 13px;
	margin-left: 50%;
	transform: translate(-50%,-50%);
	cursor: pointer;
	margin-top: 10px;
	background: skyblue;
	border-radius: 10px;

}

.front input:hover{

	padding: 5px 18px 5px 18px;
	transition: 0.2s ease-in-out;
}


.bundle{
	display: flex;	
}

.content{
	margin-left: 150px;
	padding: 10px;
}

.bundle .content h1{
	font-style: oblique;
	color:black;
	margin-top: 30px;
	margin-bottom: 35px;
	position: relative;
}

.content ul li{
	font-size: 22px;
	padding-bottom: 10px;
	color:black;
}

@media screen and (max-width: 1200px)
{
	.bundle{display: block;}
	.content h1{position: relative;left: -80px;}
	.all{position: relative;left: 10%;}
}

@media screen and (max-width: 600px)
{
	.bundle{display: block;}

	.content h1{position: relative;left: -55px;}
}




.pack1,.pack2,.pack3,.pack4,.pack5{
	display: grid;
	grid-template-columns: 2fr 4fr 1fr;
	grid-auto-rows: 200px;
	grid-template-areas: 
	"pic place price";
	justify-content: center;
	margin-bottom: 30px;
	width: 70%;
	margin: auto;
	margin-bottom: 30px;
}

.pic{
	grid-area: pic;
	border: 1px solid gray;
}

.para{
	grid-area: place;
	border: 1px solid gray;
}

.price{
	grid-area: price;
	border: 1px solid gray;
}

.price h3{
	position: relative;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 25px;
}

.para h2{
	font-style: oblique;
	margin: 20px;
	text-align: center;
}

.para p{
	margin: 30px;
	margin-top: 30px;
}


.price:hover{
	background: rgb(238,174,202);
	background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(214,222,180,1) 20%, rgba(148,187,233,1) 100%);
}

.price:hover h3{
	font-size: 27px;
}

.pack1:hover{
	box-shadow:4px 6px 7px rgba(0, 0, 0, 0.5);
	width: 72%;
	transition: 0.2s ease-out;
}


.pack2:hover{
	box-shadow:4px 6px 7px rgba(0, 0, 0, 0.5) ;
	width: 72%;
	transition: 0.2s ease-out;
}

.pack3:hover{
	box-shadow:4px 6px 7px rgba(0, 0, 0, 0.5) ;
	width: 72%;
	transition: 0.2s ease-out;
}


.pack4:hover{
	box-shadow:4px 6px 7px rgba(0, 0, 0, 0.5) ;
	width: 72%;
	transition: 0.2s ease-out;
}


.pack5:hover{
	box-shadow:4px 6px 7px rgba(0, 0, 0, 0.5) ;
	width: 72%;
	transition: 0.2s ease-out;
}
 

@media screen and (max-width: 600px)
{
	.pack1,.pack2,.pack3,.pack4,.pack5{
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-rows: 200px 200px 150px;
	grid-template-areas: 
	"pic"
	"place"
	"price";
	width: 60%;
	}

	.pack1:hover{width: 63%;}
	.pack2:hover{width: 63%;}
	.pack3:hover{width: 63%;}
	.pack4:hover{width: 63%;}
	.pack5:hover{width: 63%;}
}





							/*German Tour : Sign Up/Log in Form*/





.whole{
	font-family:'Roboto',sans-serif;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.whole1{
	font-family:'Roboto',sans-serif;
	width: 100%;
	height: 500px;
	position: relative;
	top: 50%;
	line-height: 35px;
}

.signup{
	
	width: 27%;
	min-height: 620px;
	margin: auto;
	margin-top: 30px;
	border-radius: 8px;
	background: rgb(140,187,103);
	background: radial-gradient(circle, rgba(140,187,103,0.9) 25%, rgba(148,187,233,0.5) 100%);
	backdrop-filter: blur(20px);
}


.signup2{
	width: 27%;
	min-height: 210px;
	margin: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

h1{  
	margin-top: 10px;
	text-align: center;
	padding-top: -30px;
	font-weight: 10px;
}

h4{
	text-align: center;
}

form{
	width: 80%;
	margin: auto;
	
}

form label{
	display:flex;
	margin-top:15px ;
	padding-bottom: 3px;
	font-size: 18px;
}

form input{
	padding: 8px;
	width: 100%;
	border: none;
	border: 1px solid gray;
	border-radius: 13px;
	outline: none;

}
 
.but{
	display: flex;
}
form input[type="button"]{
	width: 50%;
	height: 35px;
	margin-left: 8px;
	margin-top: 20px;
	border: none;
	background-color: #49c1a2;
	color: white;
	font-size: 15px;
	cursor: pointer;

}

p{
	text-align: center;
	padding-top: 15px;
	font-size: 15px;
}

.para2{

	color: #736DC9;
	font-size: 19px;
	

}

.para2 a{
	color: #49c1a2;
}

select{
	width: 100%;
	height: 35px;
	margin: auto;
	border-radius: 13px;
}

@media screen and (max-width: 1200px)
{
	.signup{width: 35%;}
	.signup2{width: 40%;}
}

@media screen and (max-width: 600px)
{
	.signup{width: 60%;}
	.signup2{width: 60%;}
}






									/*German Tour : About Us */




.about1{
	width: 60%;
	height: 100%;
	background-color: whitesmoke;
	background: linear-gradient(to right bottom,rgba(255, 255, 255,0.5),
        		 rgba(255, 255, 255, 0.1));
	backdrop-filter: blur(20px);
	margin-left: 25%;
	border-radius: 10px ;
	line-height: 30px;	
}

.about1 h1{
	margin-top: 20px;
	padding: 10px;
}

.aboutline{
	width: 90%;
	margin: auto;
	height: 2px;
	background:gray;
}


.hhh{
	width: 100%;
	height: 100vh;
	justify-content: center;	
}

.help_form{
	position: relative;
	top: 30px;
	
	width: 35%;
	height: 400px;
}

.help_form input,.help_form select,.help_form textarea,.help_form button{
	line-height: 20px;
	margin-top: 25px;
	border: 1px solid gray;
	border-radius: 8px;
	padding: 5px 15px 5px 30px;
	fl
}

.help_form textarea{
	width: 100%;
	height: 80px;
}

.help_form button{
	margin-left: 50%;
	transform: translate(-50%,-50%);
}

@media screen and (max-width: 1200px)
{
	.help_form {width: 40%;}

}

@media screen and (max-width: 600px)
{
	.help_form {width: 50%;}

}